[SUPABASE]
URL = https://awftontmttecgvnkelep.supabase.co
ANON_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF3ZnRvbnRtdHRlY2d2bmtlbGVwIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTYxMjgxMDgsImV4cCI6MjAxMTcwNDEwOH0.9pC_CEI6cOeyB5SM1K4zGVWpgS2FZ4xOR1Y4-9GSqiM

[APP]
DEVICE_NAME = DJHaules
PLAYLIST_URI = spotify:playlist:XXXXXXXXXXXXXXXXXXXXXXXX
